[Unit]
Description=Servicio de demostración del proyecto Infraestructura Web DNS
After=network.target

[Service]
Type=simple
User=ketfer
Group=administradores
ExecStart=/usr/local/bin/lab-demo
Restart=on-failure
RestartSec=2
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
